@import "@/variables.scss";

.right {
  height: 100%;
  width: 91%;
  // background-color: blue;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

  .coursebox-null {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    border-bottom: 1px dashed gray;

    .course-nullbox {
      opacity: 80%;
      width: 90%;
      height: 102%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      justify-content: center;

      .course-nullinbox {
        width: 100%;
        height: 100%;
      }
    }
  }

  .coursebox-top {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // border-bottom: 1px dashed gray;

    .course-topbox {
      // opacity: 80%;
      border-radius: 10% 10% 0 0;
      width: 90%;
      height: 93%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .course-topinbox {
        width: 90%;
        height: 80%;
      }
    }
  }

  .coursebox-center {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    justify-content: center;
    // border-bottom: 1px dashed gray;

    .course-centerbox {
      // opacity: 80%;
      width: 90%;
      height: 102%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      justify-content: center;

      .course-centerinbox {
        width: 90%;
        height: 100%;
        // background-color: black;
      }
    }
  }

  .coursebox-bottom {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px dashed gray;

    .course-bottombox {
      // opacity: 80%;
      border-radius: 0 0 10% 10%;
      width: 90%;
      height: 93%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      // align-items: flex-start;
      justify-content: center;

      .course-bottominbox {
        width: 90%;
        height: 80%;
        // background-color: black;
      }

    }

  }
}
